<div class="container-fluid">
  <span class="tiny mb-1 float-right mx-3 ">
    <a class="text-light" href="https://bootcamp.berkeley.edu/coding/">
        UC Berkeley Extension<br>
        Coding Bootcamp 2018
    </a>
    </span>
  <div class="conainter footer m-1">
      <small class="float-left mx-2 text-white">Group 1 </small>
      <div class="text-center mt-2 mb-1">
          <a href="https://github.com/AaronGoldsmith" class="text-light">Aaron</a>
          &nbsp;|
          <a href="https://github.com/gmkourey" class="text-light">Grant</a>
          &nbsp;|
          <a href="https://github.com/dariosyo" class="text-light">Darios</a>
          &nbsp;|
          <a href="https://github.com/jayhua97" class="text-light">Jordan</a>
      </div>
  </div>
</div>