<footer>
  <div class="container-fluid footer">
    <p>Group 1 - 
      <a href="https://github.com/AaronGoldsmith" class="github-link">Aaron</a>
      <a href="https://github.com/gmkourey" class="github-link">Grant</a>
      <a href="https://github.com/dariosyo" class="github-link">Darios</a>
      <a href="https://github.com/jayhua97" class="github-link">Jordan</a>
       - UC Berkeley Extension Coding Bootcamp 2018</p>
  </div>
</footer>
