

<div class="pimg1">
  <div class="ptext abt">
    <div class="info">
      <p class="abtHead">What is Stock Wars?</p>
      <p class="abtText">Stock Wars is a simulation of investing in the stock market. Add or sell stocks into your portfolio and see how it fairs!</p>
    </div>
  </div>
</div>

<section class="section section-light">

</section>

{{!-- <section class="section section-light">
  <h2>Section One</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit inventore unde temporibus, vero recusandae commodi odio repellendus cumque dolor voluptate.</p>
</section> --}}

<div class="pimg2">
  <div class="ptext abt">
    <div class="info">
      <p class="abtHead">View Individual Stocks!</p>
      <p class="abtText">View actual stocks in the real world!</p>
    </div>
  </div>
</div>

<section class="section section-light">
  <h2>Section Two</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit inventore unde temporibus, vero recusandae commodi odio repellendus cumque dolor voluptate.</p>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border trans">
      Image Three Text
    </span>
  </div>
</div>

<section class="section section-dark">
  <h2>Section Three</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit inventore unde temporibus, vero recusandae commodi odio repellendus cumque dolor voluptate.</p>
</section>

<div class="pimg1">
  <div class="ptext">
    <span class="border">
      Sign up now!
    </span>
  </div>
</div>

<script src="js/signup.js"></script>
<script src="js/login.js"></script>