

<div class="pimg1">
  <div class="ptext abt">
    <div class="info">
      <p class="abtHead">What is Stock Wars?</p>
      <p class="abtText">Stock Wars is a simulation of investing in the stock market. Add or sell stocks into your portfolio and see how it fairs!</p>
    </div>
  </div>
</div>

<section class="section section-light">

</section>


<div class="pimg2">
  <div class="ptext abt">
    <div class="info">
      <p class="abtHead">View Real Time News!</p>
      <p class="abtText">View news and information on actual stocks in the real world!</p>
    </div>
  </div>
</div>

<section class="section section-light">
</section>

<div class="pimg1">
  <div class="ptext">
    <span class="border">
      Sign up now!
    </span>
  </div>
</div>

<script src="js/signup.js"></script>
<script src="js/login.js"></script>