<div class="container">
<div class="row allinfo">
        <h4 class="my-3"><a href="/dashboard">Back to Dashboard</a></h4>
    <div class="col-lg-7 stockchart">
        <div class="row">
        <h2><span id="tickername"></span></h2>
        <h2>Change Today: <span class="change"></span></h2>
        <div class="buttonsClass">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#buyStockModal">Buy/Sell This Stock</button>
        </div>
        <canvas id="myChart" width="100%" height="50%"></canvas>
        </div>
        <div class="row stats">
            <div class="col-md-6">
                <p>52 Week High: <span class="52weekh"></span></p>
                <p>52 Week Low: <span class="52weekl"></span></p>
            </div>
            <div class="col-md-6">
                <p>Market Cap: <span class="marketcap"></span></p>
                <p>P/E Ratio: <span class="peratio"></span></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 news">
        <h2 class="newsheader">News</h2>
    </div>

</div>

<div class="modal fade" id="buyStockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buy/Sell Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <form class="clearfix mb-4 w-100" id="transForm" action="POST">
                <div class="form-group col-md-6">
              <label for="bsChoice">Buy or Sell?</label>
              <select class="form-control" id="bsChoice">
                <option value="Buy" selected>Buy</option>
                <option value="Sell">Sell</option>
              </select>
            </div>
              <div class="form-group col-md-6">
                <label for="stock">Your Chosen Stock</label>
                <input type="text" id="ticker" class="form-control" aria-describedby="stock-search" placeholder="Search by ticker symbol" readonly>
              </div>
              <div class="form-group col-md-6">
                <label for="quantity">How Much Do You Want To Buy?</label>
                <input class="form-control" type="number" id="quantity" aria-describedby="stock-quantity" placeholder="Enter a quantity">
              </div>
            <button id="submit" class="btn btn-primary float-left">Submit</button>
          </form>
      </div>
      <div class="modal-footer">
        <p class="display-5" id="display-total"></p>
      </div>
    </div>
  </div>
</div>

</div>
<script src="/js/stock.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>