body {
  background-image: linear-gradient(155deg,rgb(35, 95, 155), rgb(5, 108, 156), rgb(5, 108, 156),rgb(66, 176, 244));
  height:100vh;
  font-family: 'Fira Sans', sans-serif;
  position: relative;
}
.header-outer {
  border-bottom: 1.5px solid lightgrey;
}
.container-fluid {
  padding: 0px;
}
.navbar-brand {
  font-family: 'Bangers', cursive;
  font-size: 45px;
  color: white !important;
}
.nav-link {
  color:white !important;
}
.navbar-nav {
  position: absolute;
  right: 0px;
}
.sign-up-card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}
.login-card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}
.front-page-row {
  margin-top: 50px;
}
.btn-default {
  background-color: #056c9c;
  color: white;
}
.btn-outline-light {
  margin-left: 10px;
}

/* .jumbotron {
  border-radius: 0px;
  margin-bottom: 0px;
  height: 500px;
} */

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.90;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../img/graph1.jpeg');
  min-height: 65%;
}

.pimg2 {
  background-image: url('../img/graph2.jpeg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

.abt {
  left: 50px; 
  top: 30%;
  width: 50%;
  border-color: #fff;
  border-style: solid;
}

.info {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.abtText {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: none;
}

.footer {
  text-align: center;
  padding: 15px;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* .white-label {
  float: left;
  background: #33373B;
  max-width: 210px;
  padding: 10px;
  min-height: 44px;
  background: #279BE4;
  width: 100%;
  max-height: 44px;
} */

#sidebar {
  /* position: relative; */
  overflow: hidden;
  width: 210px;
  height: 100%;
  float: left;
  background: #2A2D33;
}

#sidebar-nav {
  width: 100%;
  height: calc(100%);
  padding: 0;
  background: #2A2d33;
  border-right: 1px solid #E0E0E0;
  /* overflow-y: scroll; */
}

/* #sidebar-nav h2 {
  color: #60636B;
  float: left;
  width: 100%;
  font-size: .8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 0 2px 20px;
  border-top: 1px solid #4D4C4C;
  box-sizing: border-box;
  margin: 10px 0;
} */

#sidebar-nav ul li a {
  
  color: #C2C2C2;
  font-size: .95em;
  padding: 15px 20px;
  float: left;
  width: 100%;
  font-weight: 600;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#sidebar-nav ul li:hover a, #sidebar-nav li.active a {
  color: #333;
  background: #fff;
}

/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
} */

/* #main-body {
  position: absolute;
  z-index: 1;
  background-image: url('../img/graph1.jpeg');
  float: left;
  width: calc(100% - 210px);
  height: 100%;
  word-wrap: break-word;
  background: #FFFFFF;
} */

#dash-content {
  float: left;
  background: #FFFFFF;
  position: relative;
  width: calc(100% - 210px);
  height: calc(100%);
  box-sizing: border-box;
}

#dash-content-header, #portfolio {
  background: #fff;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

#dash-content-header h1, #portfolio {
  margin: 0;
  font-weight: normal;
  padding-bottom: 5px;
}

#dash-content-header p {
  margin: 0;
  padding-left: 2px;
}


.widget-box {
  background: #fff;
  border: 1px solid #E0E0E0;
  /* float: left; */
  width: calc(100% - 30px);
  margin: 0 0 15px 15px;
}

.widget-header {
  background: #279BE4;
}

.widget-header {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 11px 15px;
  color: black;
  /* display: inline-block; */
}

#stock-table {
  width: 60%;
  border: 1px solid;
  float: left;
  margin-right: 80px;
}

thead {
  background: #279BE4;
  font-weight: normal;
  color: #fff;
}

th, td {
  padding: 15px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 20px;
}


#main-container {
  background-image: url('../img/graph1.jpeg');
  height: 100%;
  position: relative;
  width: 100%;
}

#dash-container {
  margin: 0 auto;
  height: 100%;
  width: 90%;
  position: relative;
}

#dash-card {
  border: none;
  top: 20px;
  margin-bottom: 50px;
  width: 10%;
}

#buy-btn {
  margin-left: 15px;
  background-color: #279BE4;
}

.list-group-item {
  font-size: 20px;
  /* margin: 5px; */
  border: none;
}
.allinfo {
  display: none;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  overflow: hidden;
}
.stockchart {
  display:inline-block;
}
.news {
  border: solid 1px lightgrey;
  float:right;
}
.newsheader {
  border-bottom: solid 1px lightgrey;
}
.newsArticleHeader {
  font-size: 20px;
  margin-top: 15px;
}
.newsBody {
  font-size: 15px;
}
.stats {
  text-align:center;
  border: 2px solid lightgrey;
}
.buttonsClass {
  margin: 10px;
}
#stock-table {
  margin-top: 30px;
}
.stocksearch {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid lightgrey;
}
.list-group-item {
  text-align: center;
}
#searchstockbutton {
  margin-top: 10px;
}
@media (max-width: 992px) {
  .news {
    margin-top:15px;
  }
}