body {
  background-image: linear-gradient(155deg,rgb(35, 95, 155), rgb(5, 108, 156), rgb(5, 108, 156),rgb(66, 176, 244));
  height:100vh;
  font-family: 'Fira Sans', sans-serif;
  position: relative;
}
.header-outer {
  border-bottom: 1.5px solid lightgrey;
}
.container-fluid {
  padding: 0px;
}
.tiny{
  font-size: 0.7em;
}
.navbar-brand {
  font-family: 'Bangers', cursive;
  font-size: 45px;
  color: white !important;
}
.nav-link {
  color:white !important;
}
.navbar-nav {
  position: absolute;
  right: 0px;
}
.sign-up-card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}
.login-card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}
.front-page-row {
  margin-top: 50px;
}
.btn-default {
  background-color: #056c9c;
  color: white;
}
.btn-outline-light {
  margin-left: 10px;
}

.dropdown-toggle::after {
  display: none;
}

#nav-username {
  color: white;
  font-size: 18px;
  margin: 0;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.90;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../img/graph1.jpeg');
  min-height: 65%;
}

.pimg2 {
  background-image: url('../img/graph2.jpeg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 20px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

.abt {
  left: 25%; 
  top: 30%;
  width: 50%;
  border-color: #fff;
  border-style: solid;
}

.info {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.abtText {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: none;
}


.footer a{
  padding: 0px 10px;
  font-size: 0.8em;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


#dash-container {
  margin: 0 auto;
  height: 100%;
  width: 90%;
  position: relative;
}

#dash-content {
  left: 125px;
  float: left;
  background: lightgrey;;
  opacity: 0.95;
  position: relative;
  width: 80%;
  height: 100%;
  border: 2px solid white;
  box-sizing: border-box;
}

#dash-content-header, #portfolio {
  font-family: 'Montserrat', sans-serif;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  box-sizing: border-box;
}

#dash-content-header h1, #portfolio {
  margin: 0;
  font-weight: normal;
  padding-bottom: 5px;
}

#dash-content-header p {
  margin: 0;
  padding-left: 2px;
}


.widget-box {
  background: #fff;
  border: 1px solid #E0E0E0;
  width: calc(100% - 30px);
  margin: 0 0 15px 15px;
}

.widget-header {
  background: #279BE4;
}

.widget-header {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 11px 15px;
  color: black;
}

#stock-table {
  width: 60%;
  border: 1px solid;
  float: left;
  margin-right: 80px;
}

thead {
  background: #279BE4;
  font-weight: normal;
  color: #fff;
}

th, td {
  padding: 15px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}


#main-container {
  padding: 5% 0 5% 0;
  background-image: url('../img/graph1.jpeg');
  height: 100%;
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#dash-card {
  background-color: lightgray;
  border: none;
  top: 20px;
  margin-bottom: 50px;
  width: 10%;
}

#buy-btn {
  margin-left: 15px;
  background-color: #279BE4;
}

.list-group-item {
  background-color: white;
  opacity: 0.95;
  font-size: 20px;
  border: none;
}
.allinfo {
  display: none;
  padding: 20px;
  overflow: hidden;
}
#stock-container {
  background-color: lightgray;
  border: 2px solid white;
}
.stockchart {
  display:inline-block;
}
.news {
  border: solid 1px darkgrey;
  float:right;
}
.newsheader {
  /* border-bottom: solid 1px darkgrey; */
}
.newsArticleHeader {
  font-size: 20px;
  margin-top: 15px;
}
.newsBody {
  font-size: 15px;
}
.stats {
  text-align:center;
  border: 2px solid lightgrey;
}
.buttonsClass {
  margin: 10px;
}

.card-border {
  border: 1px solid darkgray;
  opacity: 0.95;
}

#stock-table {
  margin-top: 30px;
}
.stocksearch {
  
  margin-top: 20px;
  padding: 15px;
  border: 2px solid lightgrey;
}
.list-group-item {
  text-align: center;
}
#searchstockbutton {
  margin-top: 10px;
  background-color: #279BE4;
}

@media (max-width: 992px) {
  .news {
    margin-top:15px;
  }
}